/* Add CSS Styling */

.red {
    background-color: rgb(241, 155, 155);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#number2 {
    color: rgb(5, 26, 255);
    font-size: 36px;
}

.red.cool {
    font-size: 24px;
}

#number4 {
    background-color: hsla(99, 97%, 72%, 0.758);
    font-size: 24px;
    font-weight: bold;
}